name: GitHub Metrics

on:
  schedule:
    - cron: "0 * * * *"   # every hour (adjust as you want)
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

          # Enable the embed output format
          output_action: embed
